.form {
  margin-bottom: 2rem;
}

.choices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  margin-bottom: 2rem;
  label {
      margin-bottom: 0;
  }
}
